@font-face {
  font-family: 'Fadriar';
  src: url('font-fadriar.woff2') format('woff2');
  font-family: 'Engravers';
  src: url('font-engravers-trace.woff2') format('woff2');
}

body {
  font-family: "forma-djr-display", sans-serif;
  font-style: normal;
  background-color: black;
  color: white;
  padding: 0;

}


.main {
  position: relative;
  /* left and right margins */
  margin: 0 1% 0 1%;
  display: block;
  padding-top: 100px;


}

h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0;
  font-style: italic;
  position: relative;
}

p {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.7;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363636;

  padding: 10px;
  padding-bottom: 25px;
  margin-top: 60px;
}

footer p {
  font-family: monospace;
  font-size: 12px;
  color: white;
  text-align: center;
}

footer .scroll-header {
  position: relative;
  margin-top: 70vh;
}

h2 {
  font-weight: 200;
}


/* ALL LINKS */
a {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 5px;
}

a:hover {

  color: rgb(255, 98, 0);
}


header {
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;

}


.dropdown {
  display: none;
  position: absolute;

  /* top: 100%; */
  /* ----------dropdown menu------- */
  /* width: 175pxpx; */
  background-color: #000000;
  color: #ffffff;
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 17px;
  font-size: 18px;
}

/* actual navbar labels */

.nav-item:hover .dropdown {
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: 200;
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 50px;
}



#bw-carousel,
#digital-carousel {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;


}

#bw-carousel img,
#digital-carousel img {
  border: 20px solid white;
  flex: 8;
  height: 70vh;
  object-fit: cover;

}

/* design page */
.graphic-works {
  display: flex;
  justify-content: space-between;
  border: 1px solid orange;
  padding: 30px;
}


.work-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.work-info .work-title {
  font-size: 5vw;
  margin-top: 0;

  width: 70%;
}

.work-info .work-date {
  font-size: 2em;
  font-style: italic;
  margin: 0;
}

.work-info .work-desc {
  max-width: 50%;
}



#book-front-cover {
  margin-right: 50px;
  width: auto;
  height: 70vh;
  object-fit: contain;
}

/* aux carousels------- */

#both-aux-carousels {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}


.aux-carousels img {
  height: 70vh;
  width: auto;
  object-fit: contain;
  margin: 20px;
}

.aux-carousels {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;

}

.carousel-controls {
  display: flex;
  justify-content: space-between;

}

.carousel-controls button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 25px;
  background-color: #000000;
  color: white;
  font-size: 24px;
  border: 1px solid white;
}

#apollo {
  display: block;
}

#apollo-embed {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* --DO NOT TOUCH--- */
  width: 1400px;
  height: 844px;
}

#apollo-embed-div {
  position: relative;
  /* width: 900px;
  height: 100%; */
  border: 1px solid white;
}

#animal-farm {
  flex-direction: column;
}

#bookwrap {
  height: auto;
  width: 90%;
}


.motion-graphics {
  scroll-snap-type: y mandatory;
  /* Assuming vertical scrolling */
  overflow-y: auto;
  /* Makes the container scrollable */
  height: 100vh;
  /* Adjust as needed */
}

.motion-graphics div {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  min-height: 80vh;
  scroll-snap-align: start;
  scroll-margin: 50px;

}

/* typeface */

.process {
  display: inline-block;
  text-align: left;
}

.process span {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  scroll-snap-align: center;
  scroll-snap-type: y mandatory;

  border: 1px solid white;

}

.process span div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
  margin-right: 30px;
}

.typeface-images {
  width: auto;
  height: 600px;
}