body {
font-family: "forma-djr-display", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  background-color: black;
    color: white;
    padding: 0;
    
 

  }
  
    
.main {
    position: relative;
    /* left and right margins */
margin: 0 1% 0 1%;
display:block;
padding-top:100px;

img {

    width: 40%;
    height: auto;
    display: block;
    margin: auto;
  }
 
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top:0;
}
h1 {
  animation: slideIn 1s ease-in-out forwards;
  transform: translateY(-100%);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

h2{
  font-weight:200;
}

p {
  font-size: 24px;
    line-height: 1.5;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    padding-bottom:5px;
  }
  
 /* .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

*/

header{
  width:100%;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    box-sizing:border-box;
    top:0;
    left:0;
    right:0;
      z-index: 5;
      width: 100%;
      background-color: black;
      border-bottom: solid white;
      border-width:1px;
      
}


.dropdown {
  display: none;
  position: absolute;
  
  /* top: 100%; */

  /* width: 175pxpx; */
  background-color: #975b5b;
  color: #ffffff;
  padding: 12px;
  box-sizing: border-box;
  border-style: solid;
    border-color: white;
    border-radius: 17px;
    font-size: 18px;
}

/* actual navbar labels */
.nav-item:hover {
  font-weight:bold;
}


.nav-item:hover .dropdown {
  display: flex;
  flex-direction: column;
  font-weight:bold;
  
}


